<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card dashboard-card p-3 position-relative">
                <div class="icon-box position-absolute top-0 end-0 m-3 bg-orders">
                    <i class="bi bi-card-list"></i>
                </div>
                <div class="d-flex flex-column justify-content-center h-100">
                    <div class="card-title mb-1">Total Orders</div>
                    <div class="card-text">10000</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card dashboard-card p-3 position-relative">
                <div class="icon-box position-absolute top-0 end-0 m-3 bg-clients">
                    <i class="bi bi-box"></i>
                </div>
                <div class="d-flex flex-column justify-content-center h-100">
                    <div class="card-title mb-1">Total Clients</div>
                    <div class="card-text">10000</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card dashboard-card p-3 position-relative">
                <div class="icon-box position-absolute top-0 end-0 m-3 bg-revenue">
                    <i class="bi bi-graph-up"></i>
                </div>
                <div class="d-flex flex-column justify-content-center h-100">
                    <div class="card-title mb-1">Total Revenue</div>
                    <div class="card-text">10000</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card dashboard-card p-3 position-relative">
                <div class="icon-box position-absolute top-0 end-0 m-3 bg-meals">
                    <i class="bi bi-calendar2-minus"></i>
                </div>
                <div class="d-flex flex-column justify-content-center h-100">
                    <div class="card-title mb-1">Meals Today</div>
                    <div class="card-text">10000</div>
                </div>
            </div>
        </div>
    </div>
</div>