<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card dashboard-card p-3 position-relative">
                <div class="icon-box position-absolute top-0 end-0 m-3 bg-orders">
                    <i class="bi bi-card-list"></i>
                </div>
                <div class="d-flex flex-column justify-content-center h-100">
                    <div class="card-title mb-1">Total Orders</div>
                    <div class="card-text">{{allData.totalOrders}}</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card dashboard-card p-3 position-relative">
                <div class="icon-box position-absolute top-0 end-0 m-3 bg-clients">
                    <i class="bi bi-box"></i>
                </div>
                <div class="d-flex flex-column justify-content-center h-100">
                    <div class="card-title mb-1">Total Delivery Partners</div>
                    <div class="card-text">{{allData.totalDeliveryPartners}}</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card dashboard-card p-3 position-relative">
                <div class="icon-box position-absolute top-0 end-0 m-3 bg-revenue">
                    <i class="bi bi-graph-up"></i>
                </div>
                <div class="d-flex flex-column justify-content-center h-100">
                    <div class="card-title mb-1">Total Deliveries Today</div>
                    <div class="card-text">{{allData.totalDeliveriesToday}}</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card dashboard-card p-3 position-relative">
                <div class="icon-box position-absolute top-0 end-0 m-3 bg-meals">
                    <i class="bi bi-calendar2-minus"></i>
                </div>
                <div class="d-flex flex-column justify-content-center h-100">
                    <div class="card-title mb-1">Meals Today</div>
                    <div class="card-text">{{allData.mealDeliveries.breakfast}}B {{allData.mealDeliveries.lunch}}L
                        {{allData.mealDeliveries.dinner}}D</div>
                </div>
            </div>
        </div>
    </div>

    <h5 class="fw-bold mt-4 mb-3">Recent Activities</h5>

    <div class="table-responsive">
        <table class="table custom-table align-middle text-center table-hover">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Meal Type</th>
                    <th>Created At</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of allDeliveries">
                    <td>{{ order.id }}</td>
                    <td>{{ order.user.name }}</td>
                    <td>{{ order.user.address }}</td>
                    <td>{{ order.assignment.meal_type }}</td>
                    <td>{{ order.delivery_date | date: 'dd-MM-yyyy'}}</td>
                    <td>
                        <span class="badge px-3 py-2" [ngClass]="{
      'bg-warning-subtle text-warning': order.status === 'pending',
      'bg-success-subtle text-success': order.status === 'completed'
    }">
                            {{ order.status | titlecase }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>