.detail-container {
    display: flex;
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    flex-wrap: wrap;
    max-width: 100%;
    /* overflow-x: auto; */
}

.detail-left {
    flex: 1 1 60%;
    /* min-width: 300px; */
}

.detail-right {
    flex: 1 1 35%;
    min-width: 250px;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 0.75rem;
    max-height: 500px;
    overflow-y: auto;
}

.detail-row {
    display: grid;
    grid-template-columns: max-content 1ch auto;
    row-gap: 0.4rem;
    column-gap: 1rem;
    max-width: 600px;
}

.detail-label {
    font-weight: 600;
    white-space: nowrap;
}

.detail-colon {
    text-align: center;
    white-space: nowrap;
}

.detail-value {
    text-align: left;
    word-break: break-word;
}

.meal-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-weight: 600;
}

.meal-item {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
}

.meal-item .divider {
  margin: 0 0.5rem;
  color: #888;
  font-weight: 400;
}

.detail-border {
    grid-column: 1 / -1;
    border-bottom: 1px solid #ddd;
    margin: 0.3rem 0;
}

.detail-gap {
    grid-column: 1 / -1;
    height: 1rem;
}

button.btn-danger {
    background-color: #b30000;
    border: none;
}

button.btn-danger:hover {
    background-color: #990000;
}

.custom-day {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.custom-day:hover {
    background-color: #f1f1f1;
}

.custom-day.disabled-date {
    pointer-events: none;
    opacity: 0.3;
}

.scroll-box {
    max-height: 280px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

.modal-body p {
    margin-bottom: 0.5rem;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}

.pause-scroll {
    max-height: 400px;
    overflow-y: auto;
}

.pause-list {
    list-style: disc;
    padding-left: 1.2rem;
    margin: 0;
}

.pause-list li {
    margin-bottom: 0.4rem;
    font-size: 0.95rem;
}

@media (max-width: 768px) {
    .detail-container {
        flex-direction: column;
    }

    .detail-left,
    .detail-right {
        width: 100%;
    }

    .detail-right {
        margin-top: 2rem;
    }
}

@media (max-width: 576px) {
    .detail-row {
        grid-template-columns: 1fr;
    }

    .detail-label,
    .detail-colon,
    .detail-value {
        display: inline;
    }

    .detail-label::after {
        content: ": ";
    }

    .detail-colon {
        display: none;
    }

    .detail-border {
        margin-top: 0.5rem;
    }

    .modal-body {
        flex-direction: column;
    }

    .modal-body .col-md-7,
    .modal-body .col-md-5 {
        border: none !important;
    }
}