<div class="container-fluid py-4" *ngIf="order">
  <h3 class="mb-4">Order Details</h3>

  <div class="detail-container">
    <div class="detail-row">
      <div class="detail-label">Order ID</div>
      <div class="detail-colon">:</div>
      <div class="detail-value">{{ order.order_id }}</div>

      <div class="detail-gap"></div>

      <div class="detail-label">Customer Name</div>
      <div class="detail-colon">:</div>
      <div class="detail-value">{{ order.user.name }}</div>

      <div class="detail-border"></div>

      <div class="detail-label">Address</div>
      <div class="detail-colon">:</div>
      <div class="detail-value">{{ order.delevery_address }}</div>

      <div class="detail-border"></div>

      <div class="detail-label">Email Address</div>
      <div class="detail-colon">:</div>
      <div class="detail-value">{{ order.user.email }}</div>

      <div class="detail-border"></div>

      <div class="detail-label">Phone Number</div>
      <div class="detail-colon">:</div>
      <div class="detail-value">{{ order.user.phone }}</div>

      <div class="detail-border"></div>

      <div class="detail-label">Meals Selected</div>
      <div class="detail-colon">:</div>
      <div class="detail-value">
        <span *ngIf="order.meal_type?.lunch_price">Lunch</span>
        <span *ngIf="order.meal_type?.dinner_price">, Dinner</span>
      </div>

      <div class="detail-border"></div>

      <div class="detail-label">Start Date</div>
      <div class="detail-colon">:</div>
      <div class="detail-value">{{ order.start_date | date: 'dd MMM yyyy' }}</div>

      <div class="detail-label">End Date</div>
      <div class="detail-colon">:</div>
      <div class="detail-value">{{ order.end_date | date: 'dd MMM yyyy' }}</div>

      <div class="detail-border"></div>

      <div class="detail-label">Amount</div>
      <div class="detail-colon">:</div>
      <div class="detail-value">₹{{ order.amount }}</div>
    </div>
  </div>

  <!-- <div class="text-end mt-4">
    <button class="btn btn-danger rounded-pill px-4 py-2">Generate Coupon</button>
  </div> -->
</div>
